* {
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
}

html, body {
   width: 100%;
   height: 100%;
   overflow: hidden;
}

body {
   width: 100%;
   height: 100vh;
   background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
               url('../images/background.jpg');
   background-size: cover;
   background-position: center;
   color: white;
}


.content {
   padding: 4rem 5rem; 
   background-color: rgba(0, 0, 0, 0.5);
   position: absolute;  
   top: 65%;
   left: 50%;
   transform: translate(-50%, -50%); 
   text-align: center;
   color: #fff;
   width: 60%;
   max-width: 1200px; 
   border-radius: 10px;
   



}
.content h1 {
   font-size: 70px;
   margin-top: 80px;
}

.content p {
   margin: 20px auto;
   font-weight: 100;
   line-height: 25px;
}
.start_now{
   width: 200px;
   padding: 15px 0;
   text-align: center;
   margin: 20px 10px;
   border-radius: 25px;
   font-weight: bold;
   cursor:pointer;
}
button {
   cursor: pointer;
   border: 0;
   border-radius: 4px;
   font-weight: 600;
   margin: 0 10px;
   width: 180px;
   padding: 10px 0;
   box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
   transition: 0.4s;
 }
 
 .log {
   color:black;
   background-color: rgb(255, 255, 255);
 }
 button:hover {
   color: white;
   box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
   background-color: rgba(104, 85, 224, 1);
 }
 .navbar {
   width: 85%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem;
   background-color: rgba(0, 0, 0, 0.2); 
   border-radius: 10px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
   position: fixed; 
   top: 20px; 
   left: 50%;
   transform: translateX(-50%);
   z-index: 10;
}
.title {
   cursor: pointer;
   font-size: 1.5rem;
   font-weight: 500;
   color: white;
   text-decoration: none;
   
}

.navbar button {
   cursor: pointer;
   border: 0;
   border-radius: 4px;
   font-weight: 600;
   margin: 0 10px;
   width: 180px;
   padding: 10px 0;
   box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
   transition: 0.4s;
 }
 
 .navbar .log {
   color: black;
   background-color: rgb(255, 255, 255);
 }
 
 .navbar button:hover {
   color: white;
   box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
   background-color: rgba(104, 85, 224, 1);
 }

.dropdown {
   position: relative;
   display: inline-block;
 }
 
 .dropbtn {
   background-color: #fff;
   color: black;
   font-size: 16px;
   border: none;
   padding: 10px;
   cursor: pointer;
   font-weight: 600;
   border-radius: 4px;
   transition: 0.3s;
 }
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: white;
   min-width: 120px;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
   z-index: 1;
   right: 0;
   border-radius: 5px;
 }
 
.dropdown-content a {
   color: black;
   padding: 10px 15px;
   text-decoration: none;
   display: block;
   transition: 0.3s;
 }
 
.dropdown-content a:hover {
   color: white;
   box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
   background-color: rgba(104, 85, 224, 1);
 }
 
 .dropdown:hover .dropdown-content {
   display: block;
 }
 