/* General Reset */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

.container {
   width: 100%;
   height: 100vh;
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
               url('../images/background.jpg');
   background-size: cover;
   background-position: center;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}


.todoapp {
   width: 100%;
   max-width: 540px;
   background: #fff;
   margin: 100px auto 20px;
   padding: 30px 30px 70px;
   border-radius: 10px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.todoapp h2 {
   color: #002765;
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}

.todoapp h2 img {
   width: 30px;
   margin-left: 10px;
}

/* Input Row */
.row {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: #edeef0;
   border-radius: 30px;
   padding-left: 20px;
   margin-bottom: 25px;
}

input {
   flex: 1;
   border: none;
   outline: none;
   background: transparent;
   padding: 10px;
   font-size: 14px;
}

.add-button {
   border: none;
   outline: none;
   padding: 16px 30px;
   background: #ff5945;
   color: #fff;
   font-size: 14px;
   cursor: pointer;
   border-radius: 40px;
   transition: background 0.3s, box-shadow 0.3s;
}

.add-button:hover {
   background: #e04a3a;
   box-shadow: 0 4px 10px rgba(255, 89, 69, 0.4);
}

/* List Items */
ul li {
   display: flex; /* Align children horizontally */
   align-items: center; /* Vertically align items */
   justify-content: space-between; /* Space between elements */
   font-weight: 800;
   color: black;
   list-style: none;
   font-size: 17px;
   padding: 12px 8px;
   border-bottom: 1px solid #ccc; /* Optional: Add bottom border */
   user-select: none;
   position: relative;
}

/* Task Text */
ul li .task-text {
   flex: 1;
}

ul li .task-text.text-completed {
   color: #555;
   text-decoration: line-through;
}

/* Checkbox Styling */
ul li .checkbox {
   
   height: 15px;
   width: 15px;
   margin-right: 10px;
   border-radius: 50%;
   cursor: pointer;
}

ul li.checked {
   background-color: #f5f5f5; /* Slight background change for completed tasks */
}


/* Close Button */
ul li .close {
   color: #555;
   font-size: 18px;
   cursor: pointer;
   margin-left: 15px;
   width: 30px; 
   height: 30px;
   display: flex; 
   align-items: center;
   justify-content: center;
   padding: 0; 
   border-radius: 50%; 
   transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

ul li .close:hover {
   background: #edeef0;

}


/* Task Button */
ul li .task-button {
   padding: 6px 14px;
   font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
   border-radius: 6px;
   border: none;
   background: #6E6D70;
   color: #DFDEDF;
   cursor: pointer;
   transition: background 0.3s, color 0.3s;
}

ul li .task-button:hover {
   background: #5e5d60;
}
ul li .task-button.disabled {
   background-color: #d0d1d2; 
   color: #f7f9fa;  
   cursor: not-allowed; 
}
/* Navbar Styling */
.navbar {
   width: 85%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem;
   background-color: rgba(0, 0, 0, 0.2); 
   border-radius: 10px; 
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
   position: fixed; 
   top: 20px; 
   left: 50%;
   transform: translateX(-50%);
   z-index: 10;
}

.navbar .title {
   cursor: pointer;
   font-size: 1.5rem;
   font-weight: 500;
   color: white;
   text-decoration: none;
}

.navbar .log {
   cursor: pointer;
   border: 0;
   border-radius: 4px;
   font-weight: 600;
   margin: 0 10px;
   width: 180px;
   padding: 10px 0;
   box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
   transition: 0.4s;
}

.navbar .log {
   color: black;
   background-color: rgb(255, 255, 255);
}

.navbar button:hover {
   color: white;
   box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
   background-color: rgba(104, 85, 224, 1);
}


/* Dropdown Container */
.dropdown {
   position: relative;
   display: inline-block;
 }
 
 /* Dropdown Button */
 .dropbtn {
   background-color: #fff;
   color: black;
   font-size: 16px;
   border: none;
   padding: 10px;
   cursor: pointer;
   font-weight: 600;
   border-radius: 4px;
   transition: 0.3s;
 }
/* Dropdown Content */
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: white;
   min-width: 120px;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
   z-index: 1;
   right: 0;
   border-radius: 5px;
 }
 
.dropdown-content a {
   color: black;
   padding: 10px 15px;
   text-decoration: none;
   display: block;
   transition: 0.3s;
 }
 
.dropdown-content a:hover {
   color: white;
   box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
   background-color: rgba(104, 85, 224, 1);
 }
 
 /* Show dropdown on hover */
 .dropdown:hover .dropdown-content {
   display: block;
 }
 